body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding: 20px;
  overflow: auto;
  gap: 1.5rem;
}

@font-face {
  font-family: "Dicoding Font";
  src: url('FILE-FONT.TTF');
}

#content {
  float: left;
  width: 75%;
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
  flex: 1;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

p {
  font-size: small;
  font-family: "Dicoding Font";
}

h1 {
  font-size: 150%; /* 150% dari 16 = 24px */
  margin: 2em;
  font-size: 1.5 em;
}
 
h2, h3 {
  color: black;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  color: white;
}
 
nav a:hover {
  font-weight: bold;
  color: white;
}

nav {
  display: flex; 
  background-color: #003153;
  padding: 20px;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex; 
  padding: 0; 
  margin: 0; 
  padding-inline: 4rem;
  gap: 2rem;
}

nav li {
  display: inline;
  list-style-type: none; 
  margin-right: 20px; 
}

header {
  text-align: center;
}

header img {
  width: 200px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00406c;
  text-align: center;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}


.item {
  flex: 0; 
}
 
.item {
  flex: 0 1; 
}
 
.item {
  flex: 0 auto; 
}
 
.item {
  flex: 0 1 auto; 
}

.item {
  flex-flow: column; 
}
 
.item {
  flex-flow: wrap; 
}
 
.item {
  flex-flow: column wrap; 
}

ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
 
footer {
  padding: 20px;
  color: white;
  background-color: #00406c;
  text-align: center;
  font-weight: bold;
}

@media media-type and (media-feature-rule) {
  /* CSS rules apa pun ada di sini */
}

@media screen and (max-width: 1000px) {
  #content, aside {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}